<input type="text" ng-model="search" class="search-query" placeholder="Search">
<a href="#/new"><i class="glyphicon glyphicon-plus"></i></a>
<div id="notes-container">
  <div class="notecard" ng-repeat="note in notes | filter:search | orderBy:'-id'">
    <div class="notecard-title">
      {{ note.title }}
      <a href="#/edit/{{note.id}}"><i class="glyph glyphicon-pencil"></i></a>
      <br>
      {{ note.timestamp.toUTCString() }}
    </div>
    <div class="notecard-contents">{{ note.contents }}</div>
  </div>
</div>
